.ButtonGroup {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"clear clear divide multiply"
	"seven eight nine subtract"
	"four five six add"
	"one two three equals"
	"zero zero decimal equals";
	width: 26rem;
	height: 31rem;
	border-radius: 5px;
	background-color: #C4C4C4;
	justify-items: center;
	padding: 15px 15px;
	margin-top: 35px;
	box-shadow:inset -2px -2px 2px rgba(0, 0, 0, 0.25), inset 2px 2px 2px rgba(0, 0, 0, 0.25);
};