@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
}

button {
  width: 4.7rem;
  height: 4.7rem;
  display: block;
  position: relative;
  outline: none;
  border-radius: 15px;
  background-color: #3d1d1d;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  border: none;
  box-shadow: 3px 5px #6d6b6b;
}
button:hover {
  top: 2px;
  box-shadow: 2px 4px #6d6b6b;
}

button:active {
  top: 6px;
  box-shadow: none;
}
#clear {
  background-color: #a62b2b;
  width: 10.9rem;
}
#zero {
  width: 10.9rem;
}
#equals {
  height: 10.9rem;
  align-self: start;
}
.action {
  background-color: #cc8822;
}

#display {
  width: 100%;
  height: 4.5rem;
  border-radius: 5px;
  background-color: #9ac899;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px auto;
  text-align: right;
  font-family: "Orbitron", sans-serif;
  font-size: 2.25rem;
  letter-spacing: 1.2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
